.mb-71{
    margin-bottom: 71px;
}
.accordion-button{
    background-color: #F5F5F5;
}
.accordion-button:not(.collapsed){
    color: #4d4d4fe6;
    background-color: #F5F5F5;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url('../../../public/img/up-arrow.png');
}
.mt-134{
    padding-top: 134px;
    background-color: #F5F5F5;
}
@media (min-width:1024px) {
    .w-860{
        width: 860px;
    }
    .mw-860{
        max-width: 860px;
    }
}
@media (max-width:1023.99px) {
    .w-860{
        width: 100%;
    }
    .mw-860{
        max-width: 100%;
    }
}